<!DOCTYPE HTML>
<html>

   <head>
      <title>File Size MicroService</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
       <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> 
     <link href="/public/style.css" rel="stylesheet" type="text/css"> 
  </head>

   <body>
      <div class="container">
        <h1>API Basejump: File Size MicroService</h1>
        <div class="well">
          User Stories:
          <ol>
            <li>
               II can submit a FormData object that includes a file upload.
            </li>
            <li>
               When I submit something, I will receive the file size in bytes within the JSON response
            </li>
          </ol>
        </div>
        
        
        <div class="example-text">
          <h3>
            Example  Output:
          </h3>
            <code>
              {
                "size": 840
              }
            </code>
 
        </div>

        <div class="example-text">
          <h3>
            Try it out yourself by uploading a file:
          </h3>
          <form method="POST" enctype="multipart/form-data" action="/upload">
            <input type="file" name="file">
            <br>
            <button class="btn btn-primary" type="submit">
              Upload
            </button>
          </form>
        </div>


      
        
        
      </div>
      
   </body>

</html>
